@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-Heavy.otf') format('opentype');
    font-weight: 800; /* Heavy weight */
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-Medium.otf') format('opentype');
    font-weight: 500; /* Medium weight */
    font-style: normal;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-BoldItalic.otf') format('opentype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-HeavyItalic.otf') format('opentype');
    font-weight: 800; /* Heavy weight */
    font-style: italic;
}

@font-face {
    font-family: 'Cooper Hewitt';
    src: url('fonts/CooperHewitt-MediumItalic.otf') format('opentype');
    font-weight: 500; /* Medium weight */
    font-style: italic;
}

:root {
    --off-white: #F6F2EF;
    --dark-green: #0C2927;
    --bright-green: #28B681;
    --gray: #6D6D6D;
}

a{
    color: var(--bright-green);

}

a:hover{
    color: var(--dark-green);
    text-decoration: none;

}

body{
    background-color: var(--off-white);
    font-family: inter, sans-serif;
}

h1{
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 130px;
}

h2{
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 50px;
}

.project-details h3{
    font-family: inter, sans-serif;
    font-weight: 400;

}

h3{
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: 400;
    font-size: 35px;
}

#header-name{
    margin-right: 100px;
}

.nav{
    display: flex;
    gap: 40px;
    text-transform: uppercase;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;

}

.logo{
    width: 50px;
    margin-left: 20px;
}

.header{
    display: flex;
    justify-content: start;
    margin-top: 40px;
}


.footer{
    background-color: #0C2927;
    color: var(--off-white);
    font-size: 30px;
    font-family: 'Cooper Hewitt', sans-serif;
    font-weight: bold;
}

.footer a{
    text-decoration: none;
    color: var(--bright-green);
}

.footer a:hover{
    text-decoration: none;
    color: var(--off-white);
}

.nav-footer{
    list-style-type: none;
    text-transform: uppercase;
}
