:root {
    --off-white: #F6F2EF;
    --dark-green: #0C2927;
    --bright-green: #28B681;
    --gray: #6D6D6D;
}

a{
    color: var(--bright-green);

}

a:hover{
    color: var(--dark-green);
    text-decoration: none;

}

body{
    background-color: var(--off-white);
}

#header-name{
    margin-right: 100px;
}

.nav{
    display: flex;
    gap: 40px;
    text-transform: uppercase;

}

.logo{
    width: 50px;
    margin-left: 20px;
}

.header{
    display: flex;
    justify-content: start;
    margin-top: 40px;
}


.footer{
    background-color: #0C2927;
    color: var(--off-white);
    font-size: 30px;
}

.footer a{
    text-decoration: none;
    color: var(--bright-green);
}

